:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --main-lite-color: #ffffff;
  --brand-text-color: #2196f3;
  --basement-text-color: rgba(255, 255, 255, 0.6);
  --black-word-color: #000000;
  --background-color: #2f303a;
  --button-background: #f5f4fa;
  --hero-button-background: #188ce8;
  --card-border: #eeeeee;
}

body {
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

/* Хедер */

header {
  border-bottom: 1px solid #ececec;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.nav,
.site-nav,
.contacts {
  display: flex;
}

.section-benefits {
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Лого */

.logo {
  margin-right: 93px;
}

.logo,
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-word {
  color: var(--black-word-color);
}

.logo-word-white {
  color: var(--main-lite-color);
}

.header-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: inline-block;
  padding: 32px 0;
}

.site-nav .header-link {
  margin-right: 50px;
}

.header-link:hover,
.header-link:focus {
  color: var(--brand-text-color);
}

.current-link {
  color: var(--brand-text-color);
}

/* Контакты */

.contact-link {
  margin-left: 50px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--brand-text-color);
}

.contacts .link,
.contact-link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus {
  color: var(--brand-text-color);
}

/* Герой */

.hero {
  background-color: var(--background-color);
  padding: 200px 0;
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-lite-color);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-lite-color);
  background: var(--brand-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
  padding: 10px 32px;
  display: block;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-button-background);
}

/* Секция преимущества */

.section-benefits {
  padding: 94px 0;
}

.benefit-plus-title {
  font-style: normal;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.benefit-plus {
  width: calc((100% - 90px) / 4);
}

.benefit-plus-text {
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Секция чем мы занимаемся */

.section-padd {
  padding-top: 0;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.work-for {
  width: calc((100% - 60px) / 3);
}

/* Секция наша команда */

.section-make-team {
  background-color: var(--button-background);
}

.card {
  width: 270px;
  height: 368px;
  background: var(--main-lite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.worker-position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

/* Подвал */

.logo-footer {
  margin-bottom: 20px;
  padding-left: 40px;
}

.footer-list {
  list-style-type: none;
}

.foot-box {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 94px;
}

.link-direction {
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: var(--main-lite-color);
  margin-bottom: 9px;
}

.link-footer {
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: var(--basement-text-color);
  margin-bottom: 9px;
}

.tel-footer {
  margin-bottom: 0;
}

.link-footer:hover,
.link-footer:focus {
  color: var(--brand-text-color);
}

/* Портфолио */
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Button */

.portfolio-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
  background: var(--button-background);
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 22px;
  border: none;
}

.filter {
  justify-content: center;
  padding-left: 0;
  margin-top: 94px;
  margin-bottom: 50px;
}

.item {
  margin-left: 8px;
}

.item:first-child {
  margin-left: 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-left: 0;
  list-style-type: none;
}

.list-item {
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid var(--card-border);
}

.list-item {
  flex-basis: calc((100% - 90px) / 3);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.current-btn {
  color: var(--main-lite-color);
  background: var(--brand-text-color);
}

/* Секция картинки работ */

.portfolio-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
}

.portfolio-title-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
  padding-left: 24px;
  padding-bottom: 20px;
}
